language: php

sudo: false

notifications:
    email:
        on_success: never
        on_failure: always
        
php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

env:
  - LARAVEL_VERSION=5.3.*
  - LARAVEL_VERSION=5.4.*
  - LARAVEL_VERSION=5.5.*

before_install:
  - travis_retry composer self-update --stable -n
  - composer require "laravel/framework:${LARAVEL_VERSION}" --no-update -n

install:
  - travis_retry composer install --no-suggest --prefer-dist -n -o

script:
  - echo pass
